<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarTogglerDemo01">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link d-lg-none" [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-lg-none" [routerLink]="['/dashboard/produit']">Gestion  Produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  d-lg-none" [routerLink]="['/dashboard/categorie']">Gestion  Categorie</a>
        </li>
      </ul>
      
    </div>
    <div class="py-2 mt-2 b-t no-shrink">
        <ul class="nav no-border">
           <li>
              <a (click)="logout()">
                 <span class="nav-icon">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
                 </span>
                 <span class="nav-text"></span>
             </a>
           </li>
        </ul>
     </div>
  </nav>
    
<div class="page-hero page-container " id="page-hero">
    
  <div class="padding d-flex">
      
      <div class="page-title">
          <h2 class="text-md text-highlight">Tableau de bord</h2>
          <small class="text-muted">Bienvenue à bord,
              <strong>Le17Ocean</strong>
          </small>
      </div>
  </div>
</div>
 
