.card-4 {
    background-color: #dc3545 ;
    color: white;
}
.card-3 {
    background-color: #425e73;
    color: white;
}
.card-2 {
    background-color: #85beb4;
    color: white;
}
.card-1 {
    background-color: #99c373;
    color: white;
}
