<div class="flex">
    <div class="w-xl w-auto-sm mx-auto py-5">
        <div class="card">
            <div id="content-body">
                <div class="px-3 px-md-5 pb-3 pb-md-5 pt-2">
                    <div class="text-center">
                          <img src="assets/img/Le17OceanLogo.png" alt="authenticator" class="w-100">
                         
                          <p>
                              <small class="text-muted">Login to Le17Ocean dashboard</small>
                          </p>
                    </div>
                    <form (submit)="onLogin(postForm)" #postForm="ngForm" [ngFormOptions]="{updateOn: 'blur'}">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" name="email" ngModel required type="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="password" ngModel required type="password">
                        </div>
                        <div class="checkbox mb-3">
                            <label class="ui-check">
                                <input type="checkbox" [checked]="rememberMe" (change)="rememberMe = !rememberMe">
                                <i></i> Remember me
                            </label>
                        </div>
                        <p *ngIf="errorAuth" class="text-danger text-center">Email or Password are incorrect!</p>
                        <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
                            <span *ngIf="!isLoading">
                              Sign in
                            </span>
                            <div class="spinner-border spinner-border-sm text-light" role="status" *ngIf="isLoading">
                              <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
