<div class="d-flex col-12 col-md-12 tm-colon px-0" style="overflow:hidden;">
  <!-- <ng-container *ngFor="let item of filterProduct() | slice:1:3 "> -->

      <div class="col-4 scroll left tm-colon px-0" style="overflow-y: scroll;" id="scroll-content">
          <ng-container  *ngFor="let item of filterProduct().slice(0)">
              <div class="card" style="margin-bottom: 1px;">
                  <a [routerLink]="['/showproduit', item.id]">
                      <img class="wit-cls" src='{{returnUrl(item.main_image)}}'  />
                  </a>
              </div>
          </ng-container>
      </div>
      <div class="col-4 scroll middle  tm-colon px-0 " style="overflow-y: scroll;" id="scroll-contentt">
          <ng-container *ngFor="let item of filterProduct().slice(6)">
              <div class="card" style="margin-bottom: 1px;">
                <a [routerLink]="['/showproduit', item.id]">
                  <img class="wit-cls" src='{{returnUrl(item.main_image)}}'  />
                </a>
              </div>
          </ng-container>
      </div>
      <div class="col-4 scroll right  tm-colon px-0" style="overflow-y: scroll; overflow-x: hidden; " id="scroll-contenttt">
          <ng-container *ngFor="let item of filterProduct().slice(10)">
              <div class="card" style="margin-bottom: 1px;">
                <a [routerLink]="['/showproduit', item.id]">
                  <img class="wit-cls" src='{{returnUrl(item.main_image)}}'  />
                </a>
              </div>
          </ng-container>
      </div>
  <!-- </ng-container> -->

</div>




